<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<style>
.logo
{
    display: inline-block;
    scale: 2.7;
    width: 156px;
    height: 30px;
        margin-top: 5px;
        background-size: auto 43px;
    background-image: url('header-t.png');
    background-repeat: no-repeat;
    z-index: 4000;
}
</style>
<body>

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <center>
                      <img src="../../static/header-t.png" class="logo" onclick="window.location.href='/home'">
                    </center>
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <form action="{{ url_for('edit_user_data', username = username) }}" method="post">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                          <input type="text" placeholder="{{ name }}" name="name">
                        </div>

                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" placeholder="{{ email }}" name="email">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <input type="text" placeholder="{{ address }}" name="address">
                        </div>
                      </div>
                      <hr>
                        <input type="submit">
                    </form>
                    

                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="http://127.0.0.1:5000/user/{{ username }}">Cancel edit</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
    </div>
  </body>
</html>
