<!DOCTYPE html>
<html>

<head>
    <title>LogIn Page</title>
</head>

<style>

.logo
{
    display: inline-block;
    scale: 2.7;
    width: 156px;
    height: 30px;
        margin-top: 5px;
        background-size: auto 43px;
    background-image: url('static/header-t.png');
    background-repeat: no-repeat;
}

  
  body {
    background-image: url('static/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
  }
    h1 {
  text-align: center;
    }

    form {
  text-align: center;
    }



</style>

<body>
  <center>
    <div class="logo" onclick="window.location.href='signup.html'"></div>
  </center>

  <br>
  <br>
  <br>
  <br>

    <h1>LogIn Page</h1>

    <form action="{{ url_for('login') }}" method="post">
        <label for="uname">User Name:</label><br>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="pword">Password:</label><br>
        <input type="password" id="pword" name="pword"><br><br>
        <input type="submit" value="Log In">
    </form> 

    <br>
    <br>

    <center>
    <p><a href="signup">Not registered yet? Click here!</a></p>
    </center>



</body>

</html>
